venv/Lib/site-packages/charset_normalizer/md.cp310-win_amd64.pyd
venv/Lib/site-packages/charset_normalizer/md__mypyc.cp310-win_amd64.pyd
venv/Lib/site-packages/markupsafe/_speedups.cp310-win_amd64.pyd
venv/Scripts/flask.exe
venv/Scripts/python.exe
